body {
  height: 100vh;
  background: #f4a261;
  margin: auto 0;
}

.Input-wrapper {
  background: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #264653;
}

button {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #264653;
  border-radius: 5px;
  max-width: 200px;
}
button:hover {
  background-color: #ef476f;
}

.text_btn {
  font-size: 15px;
  color: #264653;
}

select {
  font-size: 16px;
  color: #264653;
  background: transparent;
  margin-right: 10px;
  border: 2px solid #264653;
}
