.App {
  text-align: center;
}

.Navigation {
  display: flex;
  justify-content: center;
}

.NavElement {
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-decoration: none;
  color: #264653;
  font-weight: bold;
  font-size: 25px;
}

.NavElement:hover {
  color: #2a9d8f;
}
